<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Playlist
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="state$ | async; let state;">

    <ion-grid *ngIf="state.connectionStatus === 'online'">

      <ion-row>
        <ion-col>
          <h2>Track List</h2>
        </ion-col>
      </ion-row>
      <ion-row class="tracklist">
        <ion-col>
          <ion-list>
            <ion-item 
              *ngFor="let tltrack of state.trackList;" 
              [class.active]="state.nowPlaying && tltrack.tlid === state.nowPlaying.tlid"
            >

                <ion-thumbnail class="thumb" item-start (click)="play(tltrack)">
                    <img [src]="tltrack.track.album.images[0]">
                </ion-thumbnail>
                
                <ion-thumbnail class="thumb-active" item-start>
                    <img [src]="tltrack.track.album.images[0]">
                </ion-thumbnail>
              
              <h2>{{ tltrack.track.name }}</h2>
              <p>{{ tltrack.track.length }}</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-grid *ngIf="state.connectionStatus !== 'online'">
        <ion-row>
          <ion-col>
            <p>Couldn't find music server.  Reconnecting...</p>
          </ion-col>
        </ion-row>
    </ion-grid>

  </div>
    
</ion-content>
