<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Playlist
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="state$ | async; let state;">

    <ion-grid *ngIf="state.connectionStatus === 'online'">

      <ion-row *ngIf="state.nowPlaying">
          <ion-col>
            <h2>Now Playing</h2>
          </ion-col>
      </ion-row>
      <ion-row *ngIf="state.nowPlaying">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-thumbnail item-start>
                  <img [src]="state.nowPlaying.track.album.images[0]">
                </ion-thumbnail>
                <h2>{{ state.nowPlaying.track.name }}</h2>
                <p>{{ state.nowPlaying.track.length }}</p>
              </ion-item>
            </ion-list>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2>Next Up</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let tltrack of state.trackList;">
              <ion-thumbnail item-start>
                <img [src]="tltrack.track.album.images[0]">
              </ion-thumbnail>
              <h2>{{ tltrack.track.name }}</h2>
              <p>{{ tltrack.track.length }}</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-grid *ngIf="state.connectionStatus !== 'online'">
        <ion-row>
          <ion-col>
            <p>Couldn't find music server.  Reconnecting...</p>
          </ion-col>
        </ion-row>
    </ion-grid>

  </div>
    
</ion-content>
