<ion-toolbar *ngIf="state$ | async; let state;">
    <div class="current-track" *ngIf="state.nowPlaying">
        <p>{{ state.nowPlaying.track.name }}</p>
    </div>
    <!-- <button ion-button item-end (click)="prev()">Prev</button> -->
    <div class="buttons">
        <button ion-button *ngIf="state.playbackState === 'playing'" (click)="togglePause()">
            <ion-icon name="pause"></ion-icon>
            <label showWhen="core">&nbsp;Pause</label>
        </button>
        <button ion-button *ngIf="state.playbackState !== 'playing'" (click)="togglePause()">
            <ion-icon name="play"></ion-icon>
            <label showWhen="core">&nbsp;Play</label>
        </button>
        <button ion-button (click)="next()">
            <ion-icon name="skip-forward"></ion-icon>
            <label showWhen="core">&nbsp;Next</label>
        </button>
    </div>
    
</ion-toolbar>
