player-controls {
    .toolbar-content {
        display: flex;
    }

    .current-track {
        padding-left: 2%;
    }

    .buttons {
        margin-left: auto;
        display: flex;
        align-items: center;

        label {
            padding-left: 5px;
        }
    }
    
}