<ion-header>
        <ion-navbar>
          <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
          </button>
          <ion-title>
            RFID Configurator
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content padding>
        <!-- Browse Mode -->
        <div *ngIf="!(selectedRFIDObject$ | async)">
          <p *ngIf="(rfidMode$ | async) === 'set'">Select an RFID Object below or scan a card to edit</p>

          <ion-list class="object-list">
              <ion-item *ngFor="let obj of rfidObjects$ | async" (click)="selectObject(obj)">
                <h2>{{obj.payload.title || obj.id}}</h2>
                <p>{{obj.payload.tracks.length}} Tracks</p>
                <ion-thumbnail item-end>
                    <img [src]="track.thumbnail" *ngFor="let track of obj.payload.tracks">
                </ion-thumbnail>
              </ion-item>
          </ion-list>
        </div>
        <!-- end Browse Mode -->

        <!-- Edit Mode -->
        <div *ngIf="selectedRFIDObject$ | async; let rfidObject;">
          <button ion-button small color="light" icon-left (click)="resetView()">
              <ion-icon name="arrow-back"></ion-icon>
              I'm Finished
          </button>
      
          <button [disabled]="!(rfidObjectIsDirty$ | async)" ion-button small (click)="saveRFIDTrackList()" *ngIf="selectedRFIDObject$ | async">
              Save To RFID
          </button>
      
          <br>
          <br>
      
          <div *ngIf="!rfidObject.id">
            Waiting for an RFID card to scan...
          </div>
      
          <div *ngIf="rfidObject">
      
            <div class="tracklist" *ngIf="rfidObject.payload">
              <ion-list>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                          <h4>Settings:</h4>
                      </ion-col>
                    </ion-row>
      
                    <ion-row>
                      <ion-col col-12>
                          <ion-list>
                              <ion-item>
                                  <ion-label>RFID ID</ion-label>
                                  <ion-input [ngModel]="rfidObject.id" disabled type="text"></ion-input>
                              </ion-item>
                              <ion-item>
                                  <ion-label>Title</ion-label>
                                  <ion-input [ngModel]="rfidObject.payload.title" placeholder="Optional" (ngModelChange)="setTitle($event)" type="text"></ion-input>
                              </ion-item>
                              <ion-item>
                                  <ion-label>Shuffle</ion-label>
                                  <ion-toggle [ngModel]="rfidObject.payload.shuffle" (ngModelChange)="toggleShuffle()"></ion-toggle>
                              </ion-item>
                              <ion-item>
                                  <ion-label>Loop</ion-label>
                                  <ion-toggle [ngModel]="rfidObject.payload.loop" (ngModelChange)="toggleLoop()"></ion-toggle>
                              </ion-item>
                          </ion-list>
                      </ion-col>
                    </ion-row>
      
                    <ion-row>
                      <ion-col flex>
                        <h4>Track List:</h4>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>
                          <button ion-button small (click)="addSongs()" *ngIf="rfidObject">
                              Add Songs
                          </button>
                      </ion-col>
                      <ion-col text-right>
                          <button ion-button small item-end color="danger" (click)="clearTrackList()">
                              Clear List
                          </button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  
                  
      
                  <ion-item *ngFor="let track of rfidObject.payload.tracks">
                    <ion-thumbnail item-start>
                      <div class="overlay">
                        <i class="fa fa-plus"></i>
                      </div>
                      <img [src]="track.thumbnail">
                    </ion-thumbnail>
                    <h2>{{track.title}}</h2>
                    <p>{{track.durationString}}</p>
                    <button ion-button color="danger" item-end (click)="removeSongFromList(track.id)">Remove</button>
                  </ion-item>
              </ion-list>
            </div>
          </div>
        </div>
        <!-- end Edit Mode -->

      </ion-content>
      