page-rfid {

    .actions {
        display: flex;

        .right {
            margin-left: auto;
        }
    }

    .object-list {

        ion-item {
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        ion-thumbnail {
            flex: 2;
            max-width: 50%;
            max-height: 56px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            overflow: hidden;

            img {
                width: 26px;
                height: 26px;
                margin: 0 1px;
            }
        }
    }

    ion-list {
        ion-label h2 {
            white-space: normal;
        }
    }

    .tracklist {
        ion-grid {
            padding:0;
            margin: 0;
        }

        ion-item {
            padding-left: 0;
            .item-inner {
                padding-right: 0;
            }
        }
    }
    
}